streamlit
streamlit-autorefresh
pandas
supabase
requests
plotly
certifi
cffi
charset-normalizer
cryptography
google-auth
google-auth-oauthlib
gspread
httplib2
idna
oauth2client
oauthlib
pyasn1
pyasn1_modules
pycparser
pyparsing
requests-oauthlib
rsa
six
urllib3
